
/QtOgreEditor/qtpropertybrowser-2.5_1
/QtOgreEditor/QScintilla2
/QtOgreEditor/source/Generated
/Build/VC9/obj
/Build/VC9/dependencies
/Build/VC9/lib
/Build/VC10/dependencies
/Build/VC10/lib
/Build/VC10/obj
/Server/bin/ReleaseWin32
/Server/bin/DebugWin32
/QtOgreEditor/bin/DebugWin32
/QtOgreEditor/bin/ReleaseWin32
/DefaultClient/bin/ReleaseWin32
/DefaultClient/bin/DebugWin32
/BulletMeshGenerator/bin/ReleaseWin32
/BulletMeshGenerator/bin/DebugWin32