<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="div" description="DiversiaScript" language="DiversiaScript" derivedFrom="DynamicRoot" validator="org.diversia.script.DiversiaScriptValidator" validatorClass="org.diversia.script.DiversiaScriptValidator"></language>
       </extension>
       <extension id="org.diversia.script.parser" name="DiversiaScript Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.diversia.script.DiversiaScriptParseController" language="DiversiaScript">
          </parser>
       </extension>    
    </plugin>